<div class="container mt-3">
  <h4>How to use this dashboard:</h4>
  <ol>
          <li>The <b># of Total Comments</b> chart shows open newcomer comment distribution among various classes.</li>
          <li>Below listed is the <b>detailed view</b>. Press the down arrow on the right side of each class to view all open comments.</li>
          <ul>
                  <p><b>Show a gif?</b></p>
          </ul>
          <li>What does each status mean?</li>
          <ul>
                  <li><b>Open</b>&emsp; - Newcomer comment that required attention. The issue is still open.</li>
                  <li><b>Replied</b> - Newcomer comment with replies after the comment. The issue is still open.</li>
                  <li><b>Closed</b>&nbsp; - Newcomer comment. The issue is closed.</li>
          </ul>
          <li>Scroll to the bottom of this page to view a comment classification dictionary with examples.</li>
  </ol>
  <!-- <p>The <b># of Total Comments</b> chart shows open newcomer comment distribution amoung various classes.</p>
  <p>Below listed are the comment classes. Press the down arrow on the right side of each class to view all open comments.</p>
  <p>What does each status mean?</p>
  <p>Open&emsp; - Newcomer comment that required attention. Issue is still open.</p>
  <p>Replied - Newcomer comment with replies after the comment. Issue is still open.</p>
  <p>Closed&nbsp; - Newcomer comment. Issue is cloased.</p> -->
<!-- {% for comment in comments %}
  <p><a href="/detailed" class="btn btn-primary">{{ comment.name }}: {{ comment.count }}</a></p>
{% endfor %} -->
</div>

<h2>Mock Comments</h2>
<div *ngIf="!isRequestInProgress">
	<input class="form-control" type="text" placeholder="Enter repo" [(ngModel)]="repoName" maxlength="256" value="">
	<button class="btn btn-dark" (click)="toggleComments()">
	Click for comments
	</button>
</div>
<div *ngIf="isRequestInProgress">
	<span class="loader"></span>
</div>


<!-- <div [hidden] = "isHidden" *ngFor="let comment of comments">
    <div><span>id: </span>{{ comment.id }}</div>
    <div><span>status: </span>{{ comment.status }}</div>
    <div><span>created at: </span>{{ comment.created }}</div>
    <div><span>user: </span>{{ comment.user }}</div>
    <div><span>body: </span>{{ comment.body }}</div>
    <div><span>url: </span>{{ comment.link }}</div>
    <hr style="border-top: dotted 1px;" />
</div> -->

