<div class="container" *ngIf="username == ''">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="user">
        Please enter your GitHub username
      </label>
      <input id="user" type="text" formControlName="user"><span class="input-group-btn input-space"></span>
      <button class="my-button" type="submit">Show Comments</button>
    </div>    
  </form>
</div>

<div class="center-padding" *ngIf="username == ''">
  <p><b>Purpose Statement:</b> This dashboard provides GitHub repo maintainers with a quick view of different types of comments newcomers make in issue threads. Our goal is to reduce a maintainer's workload by highlighting comments that need attention and categorizing these comments, simultaneously learning more about the usefulness of this data and observing newcomer-maintainer interactions. Please get in touch with us at domini4@clemson.edu if you have any questions.</p>
</div>

<!-- <p>
  {{ checkoutForm.controls['user'].value }}
</p> -->

<!-- <div *ngIf="username"> -->
  <app-repoview [user]="username"></app-repoview>
<!-- </div> -->

  <!-- <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start"> -->
  <!-- #enddocregion align-start -->
    <!-- <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group> -->
<!-- <div *ngFor="let date of dataarr">
    <div><span>id: </span>{{ data.id }}</div>
    <div><span>status: </span>{{ data.status }}</div>
    <div><span>created at: </span>{{ data.created }}</div>
    <div><span>user: </span>{{ data.user }}</div>
    <div><span>body: </span>{{ data.body }}</div>
    <div><span>url: </span>{{ data.link }}</div>
    <hr style="border-top: dotted 1px;" />
</div> -->
<!-- 
  <h2>Mock Comments</h2>
  <button class="btn btn-dark" (click)="toggleComments()">
    Click for comments
  </button>
  
  <div [hidden] = "isHidden" *ngFor="let comment of comments">
      <div><span>id: </span>{{ comment.id }}</div>
      <div><span>status: </span>{{ comment.status }}</div>
      <div><span>created at: </span>{{ comment.created }}</div>
      <div><span>user: </span>{{ comment.user }}</div>
      <div><span>body: </span>{{ comment.body }}</div>
      <div><span>url: </span>{{ comment.link }}</div>
      <hr style="border-top: dotted 1px;" />
  </div>
   -->
  